[submodule "ocs2_robotic_assets"]
	path = ocs2_robotic_assets
	url = https://github.com/leggedrobotics/ocs2_robotic_assets.git
[submodule "hpp-fcl"]
	path = hpp-fcl
	url = https://github.com/leggedrobotics/hpp-fcl.git
[submodule "pinocchio"]
	path = pinocchio
	url = https://github.com/leggedrobotics/pinocchio.git
[submodule "unitree_ros"]
	path = unitree_ros
	url = https://github.com/unitreerobotics/unitree_ros.git
